@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Poppins:wght@300;400;500;700;800;900&display=swap');
/*
Main colors: #1e1e1e ; #F8F2D4; #c1272d;
#A01D1E
https://coolors.co/1e1e1e-e1d89f-c1272d-a01d1e
*/
:root {
  --nero: #1e1e1e;
  --grigio: #2e2e2e;
  --chiaro: white;
  --rossoChiaro: #c1272d;
  --rossoScuro: #A01D1E;
  --generalPadding: 45px;
}

* {
  font-family: 'Poppins', sans-serif ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;

}
body{
background-color: var(--nero);

}
/* HEADER */
.header{
  display: flex;
  background: var(--chiaro);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 8%;
  color: black;
  transition: all .5s ease;
}

.logo{
  display: flex;
  font-size: 28px;
  font-weight: 600;
  align-items: center;
  text-decoration: none;
  margin-left: -30px;
  transition-duration: 0.3s;
}

.name{
  color: black;
}

.name:hover{
  color:var(--rossoChiaro);
}

.none{
  color:black;
}
.none:hover{
  color: black;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--chiaro);
  width: 450px;
  height: 40px;
  border-radius: 20px;
}

.navbar a{
  margin-left: 15px;
  text-decoration: none;
  color: black;
  transition-duration: 0.3s;
}
.navbar a:hover{
  color: var(--rossoChiaro);
}
.navbar a.active{
  color: var(--rossoChiaro);
}

/* HOME */
.home{
  display: flex;
  background-color: transparent;
  align-items: center;
  padding: var(--generalPadding);
  /*width: 50vw;*/
  height: 110vh;
  background-image: url(files_1/big_bkg.png);
}

.home-content{
  padding-top: 0px;
}

.home h1{
  font-size: 75px;
}

.home h3{
  font-size: 25px;
  color: var(--rossoChiaro);
}

.content-txt{
  font-size: 20px;
  margin-top: 10px;
  max-width: 500px;
  line-height: 1.4;
}

.btn-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  width: 345px;
  height: 50px;
}

.btn-box a{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  border-radius: 10px;
  background-color: var(--rossoChiaro);
  height: 100%;
  width: 40%;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition-duration: 0.3s;
  overflow: hidden;
  box-shadow: 5px 5px 5px black;
  z-index: 1;
}
.btn-box a:nth-child(2){
  background-color: transparent;
}
.btn-box a::before{
  content: '';
  top:0;
  left: 0;
  position: absolute;
  background: var(--rossoChiaro);
  width: 0%;
  height: 100%;
  transition-duration: 0.5s;
  z-index: -1;
}
.btn-box a:nth-child(1)::before{
  background: var(--grigio);
}

.btn-box a:hover::before{
  width: 100%;
}

.home-social{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute; /* RICORDATI*/
  width: 170px;
  font-size: 20px;
  margin-top: 50px;

}

.home-social a{
  position: relative;
  transition-duration: 0.3s;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 35px;
  height: 35px;
  border: 3px solid white;
  border-radius: 50%;
  text-decoration: none;
  background-color: var(--grigio);

}

.home-social a::before{
  content: '';
  top:0;
  left: 0;
  position: absolute;
  background: var(--rossoChiaro);
  width: 0%;
  height: 100%;
  transition-duration: 0.5s;
  z-index: -1;
}

.home-social a:hover::before{
  width: 100%;
}

.separator{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 172px;
  padding: 0px;
  background: url(files_1/about_big_bkg.png);
  position: absolute;
  top: 850px;
}
/* ABOUT ME */

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--generalPadding);
  padding-top: 0px;
  gap: 3rem; /*spazio tra le robe*/
  background-color: var(--nero);
}

.heading{
  font-size: 2rem;
  text-align:center;
}

.heading span{
  color: var(--rossoChiaro);
}

.about-img{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px var(--rossoScuro);
}

.about-img img{
  width: 100%;
  border-radius: 50%;
  border: 0.2rem solid var(--rossoScuro);
}

.about h2{
  font-size: 27px;
}

.about h3{
  font-size: 30px;
}

.about-img .circle-spin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
}

.about-content{ 
  text-align: center;
  font-size: larger;
  margin: 3rem 0 2rem;
}

.btn-box.new{
  display: inline-flex;
  justify-content: center;
}

.btn-box.new a::before{
  background-color: var(--nero);
}

/* SERVICES */

.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--generalPadding);
  gap: 3rem; /*spazio tra le robe*/
  background-color: var(--nero)	;
}

.services-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.services-row .services-column{
  flex: 1 1 40rem;
}

.type{
  font-size: 2rem;
  font-weight: bolder;
}

.services-column .services-box{
  border-left: 0.2rem solid var(--rossoChiaro);
}

.services-box .services-content{
  position: relative;
  padding: 20px;
  padding-left: 30px;
}

.services-box .services-content::before{
  content: '';
  position: absolute;
  top: 0;
  left: -2.1rem;
  width: 1.7rem;
  height: 1.7rem;
  background: var(--rossoChiaro);
  border-radius: 50%;
}

.services-content{
  margin-left: 15px;
  border: 3px solid var(--rossoChiaro);
  border-radius: 20px;
  padding: 10 10 10 15;
}

/* PORTFOLIO */

.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--generalPadding);

}

.portfolio-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--generalPadding);
  margin-top: 20px;
  background-color: var(--grigio);
  border-radius: 20px;
  width: 1300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--generalPadding);
}

.project{
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--chiaro);
  width: 300px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--nero);
  overflow: hidden;
}

.project .text{
  background-color: var(--chiaro);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  gap: 10px; /*spazio tra le robe*/
}

.inner{
  overflow: hidden;
}

.project h1{
  font-size: larger;
  color: var(--rossoChiaro);
}

.project p{
  font-size: larger;
  color: var(--grigio);
}

.btn-box.new2{
  display: inline-flex;
  justify-content: center;
}

.project img{
  width: 100%;
  filter: grayscale();
  transition: all 1s ease; /*Comodo per gestire */
}

.project img:hover{
  transform: scale(1.3);
  filter: initial;
}

/* CONTACTS */

.container{
  display: flex;
  justify-content: center;
  padding: var(--generalPadding);
}

.container-right{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2%;
  background-color: var(--rossoChiaro);
  border-radius: 20px;
  flex-basis: 50%;
  box-shadow: 5px 5px 5px black;
}

.container-left{
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 15px;
}

.inner-container{
  display: flex;
  gap: 10px;
}

.image-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 35px;
  background-color: var(--grigio);
  border-radius: 50%;
  transition: all .5s ease;
}

.image-wrapper:hover{
  background-color: var(--rossoChiaro);
}

.fields{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: var(--rossoScuro);
  padding: 15px;
  margin: 15px, 0;
  color:white;
  font-size: 18px;
  border-radius: 6px;
}

button[type=submit]{
  height: 50px;
  width: 140px;
  border-radius: 20px;
  outline: none;
  border: 0;
  box-shadow: 5px 5px 5px var(--nero);
  color: white;
  font-weight: bold;
  font-size: large;
  background-color: var(--grigio);
  transition: all .5s ease;
}

::placeholder{
  color: var(--rossoChiaro);
}

button[type=submit]:hover{
  color: var(--rossoChiaro); 
}
/*-----CSS FOR SMALL SCREENS-----*/
@media only screen and (max-width: 600px){


}
